// Color Variables
$primary-color: #511583;
$secondary-color: #a348ee;
$background-color: #f0f0f0;
$text-color: #333;
$border-color: #ddd;

// Font Variables
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Spacing Variables
$spacing-unit: 8px;
